# dependencies
node_modules/


odyssey-test-db-default-rtdb-export (9).json
# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem

odyssey-test-db-default-rtdb-export (6).json

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# local database exports
odyssey-test-db-default-rtdb-export (5).json


odyssey-test-db-default-rtdb-export (8).json